{% extends "main.njk" %}
{% block content %}
<main role="main" aria-labelledby="archive-title">
	<h1 id="archive-title">{{ entries.title }}</h1>

	{% if content %}
	<section>
		{{ content | safe }}
	</section>
	{% endif %}

	{% if collectionKey %}
	{% set items = collections[collectionKey].items %}
	{# Archive list #}
	{% if items and items | length > 0 %}
	{% if groupByYear %}
		{% for year in items | groupByYear %}
			<section id="year-{{ year.year }}" aria-labelledby="year-{{ year.year }}-heading">
			<h2 id="year-{{ year.year }}-heading">{{ year.year }}</h2>
			<ul>
				{% for entry in year.items %}
				<li>
					<a href="{{ entry.url }}">{{ entry.data.title }}</a>
					&ndash;
					<time datetime="{{ entry.date.toISOString() }}">{{ entry.date.toLocaleDateString('en-GB', { day: "numeric", month: "long" }) }}</time>
				</li>
				{% endfor %}
			</ul>
			</section>
		{% endfor %}
		{% else %}
		<ul>
			{% for entry in items %}
			<li>
				<a href="{{ entry.url }}">{{ entry.data.title }}</a>
				&ndash;
				<time datetime="{{ entry.date.toISOString() }}">{{ entry.date.toLocaleDateString('en-GB', { day: "numeric", month: "long" }) }}</time>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	{% else %}
		<p role="status">No entries found.</p>
	{% endif %}
	{% else %}
		<section aria-live="polite">
			<pre><code>No collectionKey set in frontmatter or data file for this archive page.</code></pre>
		</section>
	{% endif %}

</main>
{% endblock %}
