{# src/layouts/home.njk #}
{% extends "main.njk" %}
{% block content %}
<article>
	{{ content | safe }}

	{%- if collections.notes -%}
		{%- set _notesArray = (collections.notes.items | default(collections.notes)) -%}
		{%- set latest = _notesArray[0] -%}
	{%- else -%}
		{%- set latest = null -%}
	{%- endif -%}

	{% if latest %}
	<section aria-labelledby="latest-heading">
		<h2 id="latest-heading">Latest intermittent note</h2>
		<h3><a href="{{ latest.url }}">{{ latest.data.title or latest.data.page.title or latest.fileSlug }}</a></h3>
		<div aria-describedby="latest-excerpt">
			<p id="latest-excerpt">{{ latest.templateContent | striptags(true) | truncateWords(80)| safe }}</p>
		</div>
	</section>
	{% endif %}

	<section aria-labelledby="archives-heading">
		<h2 id="archives-heading">Here's the other things for intermittent notes</h2>
		<ul>
			{% if collections.notes %}
				<li><a href="/notes/">Archives</a></li>
				<li><a href="/notes/feed.xml">RSS feed</a></li>
			{% endif %}
		</ul>
	</section>

</article>
{% endblock %}