{# src/layouts/post.njk #}
{% extends "main.njk" %}
{% block content %}
<article role="article" aria-labelledby="post-title">
	<section>{{ content | safe }}</section>

	<nav aria-label="Post navigation">
		<p><a href="/notes" rel="up">&larrhk; Back to notes</a></p>
	</nav>
</article>
{% endblock %}
