{# src/layouts/post.njk #}
{% extends "main.njk" %}
{% block content %}
<article role="article" aria-labelledby="post-title">
	<header>
		<h2 id="post-title">{{ title }}</h2>
		<time datetime="{{ date.toISOString() }}">{{ date.toLocaleDateString('en-GB', { day: "numeric", month: "long", year: "numeric" }) }}</time>
	</header>

	<section>{{ content | safe }}</section>

	<nav aria-label="Post navigation">
		<p><a href="/notes" rel="up">&larrhk; Back to notes</a></p>
	</nav>

</article>
{% endblock %}
